In [59]:
import numpy as np
import pandas as pd
import warnings

In [2]:
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [3]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [103]:
grouped_df = df.groupby(['Make'])[['CO2 Emission Grams/Mile']].mean().reset_index()

In [119]:
q1= grouped_df[grouped_df.Make=='Volkswagen']['CO2 Emission Grams/Mile'][122]
q1 = float(q1)
type(q1)

float

In [108]:
grouped_df2 = df.groupby(['Make'])[['Model']].nunique().reset_index().sort_values(by='Model', ascending=False).reset_index(drop=True)

In [109]:
need_q2 =grouped_df2.loc[0:4,:]

In [156]:
need_q2

            Make  Model
0  Mercedes-Benz    333
1            BMW    284
2      Chevrolet    253
3           Ford    185
4            GMC    163

In [280]:
q2 = []
for row in need_q2.index:
    tmp_list = []
    for col in need_q2.columns:
        if col == 'Make':
            tmp_list.append(str(need_q2.loc[row, col]))
        else:
            tmp_list.append(int(need_q2.loc[row, col]))
    q2.append(tmp_list)

In [182]:
q2

array([['Mercedes-Benz', 333],
       ['BMW', 284],
       ['Chevrolet', 253],
       ['Ford', 185],
       ['GMC', 163]], dtype=object)

In [120]:
q3 = sorted(df['Fuel Type'].unique())
type(q3)

list

In [124]:
type(q3[1])

str

In [6]:
toyota = df[df.Make=='Toyota']
toyota.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
32281,Toyota,1-Ton Truck 2WD,1985,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,20,23,21,423.190476,1600
32282,Toyota,1-Ton Truck 2WD,1985,2.4,4.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,19,24,21,423.190476,1600
32283,Toyota,1-Ton Truck 2WD,1986,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,20,23,21,423.190476,1600
32284,Toyota,1-Ton Truck 2WD,1986,2.4,4.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,14.330870,21,26,23,386.391304,1450
32285,Toyota,1-Ton Truck 2WD,1987,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,20,23,21,423.190476,1600

In [8]:
from scipy import stats

In [9]:
toyota_stats = toyota.groupby(['Model'])['Fuel Barrels/Year'].agg(['mean', 'std']).reset_index()

In [10]:
toyota['zscore'] = stats.zscore(toyota['Fuel Barrels/Year'])

C:\Users\kmora\AppData\Local\Temp\ipykernel_6536\1658249925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota['zscore'] = stats.zscore(toyota['Fuel Barrels/Year'])

In [11]:
tzsc = toyota.groupby(['Model'])['zscore'].max()

In [17]:
toyota['abszscore'] = toyota['zscore'].abs()

C:\Users\kmora\AppData\Local\Temp\ipykernel_6536\1157682893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota['abszscore'] = toyota['zscore'].abs()

In [22]:
tt2 = toyota[['Model', 'Year', 'zscore', 'abszscore']].sort_values(by='abszscore', ascending=False)

In [29]:
t3 = tt2[['Model', 'Year', 'zscore']].drop_duplicates(subset='Model', keep='first').sort_values(by=['zscore', 'Year']).head(9)

In [219]:
t3['Model'] = t3['Model'].astype(str)
t3['zscore'] = t3['zscore'].astype(float)
t3['Year'] = t3['Year'].apply(lambda x: int(x))

In [279]:
q4 = []
for row in t3.index:
    tmp_list = []
    for col in t3.columns:
        if col == 'Model':
            tmp_list.append(str(t3.loc[row, col]))
        elif col == 'Year':
            tmp_list.append(int(t3.loc[row, col]))
        else:
            tmp_list.append(float(t3.loc[row, col]))   
    q4.append(tmp_list)

In [38]:
golf = df[df.Model=='Golf']

In [41]:
golf = golf.sort_values(by='Year')

In [50]:
golf = golf[(golf.Transmission=='Manual 5-spd') & (golf['Fuel Type'] =='Regular')]

In [51]:
golf['previous'] = golf['Combined MPG'].shift()

C:\Users\kmora\AppData\Local\Temp\ipykernel_6536\450543542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golf['previous'] = golf['Combined MPG'].shift()

In [52]:
golf['diff'] = golf['Combined MPG'] - golf.previous

C:\Users\kmora\AppData\Local\Temp\ipykernel_6536\2501513441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golf['diff'] = golf['Combined MPG'] - golf.previous

In [56]:
golf[['Year', 'Combined MPG', 'diff']].fillna(0, inplace=True)

C:\Users\kmora\AppData\Local\Temp\ipykernel_6536\2396087798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golf[['Year', 'Combined MPG', 'diff']].fillna(0, inplace=True)

In [62]:
golf2 = golf[['Year', 'Combined MPG', 'diff']].sort_values(by='Year').fillna(0)
golf2

       Year  Combined MPG  diff
34369  1986            26   0.0
34372  1987            26   0.0
34374  1988            25  -1.0
34377  1989            25   0.0
34379  1999            24  -1.0
34385  2000            24   0.0
34391  2001            24   0.0
34395  2002            24   0.0
34399  2003            24   0.0
34403  2004            24   0.0
34407  2005            24   0.0
34411  2006            24   0.0
34412  2010            25   1.0
34417  2011            26   1.0
34421  2012            26   0.0
34427  2013            26   0.0
34431  2015            30   4.0
34436  2016            30   0.0
34438  2017            29  -1.0

In [281]:
q5 = []
for row in golf2.index:
    tmp_list = []
    for col in golf2.columns:
        if col == 'Year':
            tmp_list.append(int(golf2.loc[row, col]))
        elif col == 'Combined MPG':
            tmp_list.append(int(golf2.loc[row, col]))
        else:
            tmp_list.append(float(golf2.loc[row, col])) 
    q5.append(tmp_list)

In [64]:
#q6

In [65]:
maker = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']

In [277]:
q6 = []
for make in maker:
    df_tmp =df[df.Make==make]
    tmp_list = [make]
    df_tmp = df_tmp.sort_values(by='CO2 Emission Grams/Mile').reset_index()
    for ix in range(5):
        val = float(df_tmp.loc[ix, 'CO2 Emission Grams/Mile'])
        tmp_list.append(val)
    q6.append(tmp_list)

In [82]:
#q7

In [93]:
def calc_mean(d_0, d_f, df):
    v0 = tuple([d_0, d_f])
    tmp_list = [v0]
    tmp_df = df[df.Year.between(d_0, d_f)]
    median_mpg = tmp_df['Combined MPG'].median()
    tmp_list.append(median_mpg)
    return tmp_list

In [94]:
calc_mean(1984, 1988, df)

[(1984, 1988), 19.0]

In [282]:
c = 1984
q7 = []
while c < 2017:
    tmp_answer = calc_mean(c, c+4, df)
    q7.append(tmp_answer)
    c+=5
    print(c)

1989
1994
1999
2004
2009
2014
2019

In [283]:
answer_dict = {"Q1":q1,
               "Q2":q2,
               "Q3":q3,
               "Q4":q4,
               "Q5":q5,
               "Q6":q6,
               "Q7":q7}

In [284]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q6_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q6_types (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 17 tests in 0.026s

OK

In [285]:
import pickle

file_name = "Kim_Mora_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)